<!--footer-->
<footer class="footer1">
  <div class="container">

    <div class="row"><!-- row -->

      <div class="col-lg-4 col-md-4"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_nav_menu"><!-- widgets list -->

            <h1 class="title-widget">Useful links</h1>

            <ul>
              <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i> Home</a></li>
              <li><a routerLink="/menu"><i class="fa fa-angle-double-right"></i> Menu</a></li>
              <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i> About Us</a></li>
              <li><a routerLink="/contact" href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
            </ul>

          </li>

        </ul>


      </div><!-- widgets column left end -->



      <div class="col-lg-4 col-md-4"><!-- widgets column left -->

        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_nav_menu"><!-- widgets list -->

            <h1 class="title-widget">Other links</h1>

            <ul>


              <li><a href="#"><i class="fa fa-angle-double-right"></i> Terms & Conditions</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>

            </ul>

          </li>

        </ul>


      </div><!-- widgets column left end -->


      <div class="col-lg-4 col-md-4"><!-- widgets column center -->



        <ul class="list-unstyled clear-margins"><!-- widgets -->

          <li class="widget-container widget_recent_news"><!-- widgets list -->

            <h1 class="title-widget">Contact Detail </h1>

            <div class="footerp">

              <h2 class="title-median">CV da Dhaba Pvt. Ltd.</h2>
              <p style="color: white;"><b>Email id:</b> <a href="mailto:info@softriti.com">info@cvdadhaba.com</a></p>
              <p><b>Helpline Numbers </b>
                <br>
                <b style="color:#ffc106;">(8AM to 6PM):</b> +919340074730  </p>
            </div>

            <div class="social-icons">

              <ul class="nomargin">

                <a href="https://www.facebook.com/bootsnipp"><span class="fa-stack fa-lg icon-facebook">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span></a>
                <a href="https://twitter.com/bootsnipp"><span class="fa-stack fa-lg icon-twitter">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><span class="fa-stack fa-lg icon-gplus">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span></a>
                <a href="mailto:bootsnipp@gmail.com"><span class="fa-stack fa-lg icon-envelope-square">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x"></i>
        </span></a>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2018, Softriti, All rights reserved

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

          <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.softriti.com">Web & Mobile App Design & Development by Softriti</a>

        </div>

      </div>

    </div>

  </div>

</div>
