<div class="container">
  <div class="row">
    <ol class="col-12 breadcrumb">
      <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
      <li class="breadcrumb-item active">About us</li>
    </ol>
    <div class="col-12">
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#test-block" aria-expanded="true" aria-controls="test-block">
          card header
        </a>
      </div>
      <div id="test-block" class="collapse">
        <div class="card-block">
          card block
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12 col-sm-6">
      <h2>Our History</h2>
      <p>Started in 2018, CV da Dhaba quickly established itself as a culinary icon par excellence in Indore.
        With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the
        A-list clientele in Indore.  Featuring four of the best three-star Michelin chefs in the world,
        you never know what will arrive on your plate the next time you visit us.</p>
      <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Siddharth Sogani,
        that featured for the first time the world's best cuisines in a pan.</p>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card">
        <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>
        <div class="card-block">
          <dl class="row">
            <dt class="col-6">Started</dt>
            <dd class="col-6">10 Feb. 2017</dd>
            <dt class="col-6">Major Stake Holder</dt>
            <dd class="col-6">CV da Dhaba Inc..</dd>
            <dt class="col-6">Last Year's Turnover</dt>
            <dd class="col-6">Rs1,250,3750</dd>
            <dt class="col-6">Employees</dt>
            <dd class="col-6">40</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card card-block bg-faded">
        <blockquote class="blockquote">
          <p class="mb-0">There is no sincerer love than the love of food..</p>
          <footer class="blockquote-footer"> George Bernard Shaw.,
            <cite title="Source Title">Irish playwright, critic, polemicist, and political activist</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>


  <div class="row row-content">
    <div class="col-12">
      <h2>Corporate Leadership</h2>
      <!--
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" href="#peter"
                 role="tab" data-toggle="tab">Peter Pan, CEO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#danny" role="tab"
                 data-toggle="tab">Danny Witherspoon, CFO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#agumbe"role="tab"
                 data-toggle="tab">Agumbe Tang, CTO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#alberto" role="tab"
                 data-toggle="tab">Alberto Somayya, Exec. Chef</a>
          </li>
      </ul>
      <!-- Tab panes -->
      <!--<div class="tab-content">
          <div class="tab-pane fade show active" id="peter" role="tabpanel">
              <h3>Peter Pan <small>Chief Epicurious Officer</small></h3>
              <p class="hidden-xs-down">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
          </div>
          <div class="tab-pane fade" id="danny" role="tabpanel"><h3>Dhanasekaran Witherspoon <small>Chief Food Officer</small></h3>
              <p class="hidden-xs-down">Our CFO, Danny, as he is affectionately referred to by his colleagues, comes from a long established family tradition in farming and produce. His experiences growing up on a farm in the Australian outback gave him great appreciation for varieties of food sources. As he puts it in his own words, <em>Everything that runs, wins, and everything that stays, pays!</em></p>
          </div>
          <div class="tab-pane fade" id="agumbe" role="tabpanel"><h3>Agumbe Tang <small>Chief Taste Officer</small></h3>
              <p class="hidden-xs-down">Blessed with the most discerning gustatory sense, Agumbe, our CTO, personally ensures that every dish that we serve meets his exacting tastes. Our chefs dread the tongue lashing that ensues if their dish does not meet his exacting standards. He lives by his motto, <em>You click only if you survive my lick.</em></p>
          </div>
          <div class="tab-pane fade" id="alberto" role="tabpanel"><h3>Alberto Somayya <small>Executive Chef</small></h3>
              <p class="hidden-xs-down">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says, <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em></p>
          </div>
      </div>-->
      <div *ngIf="leaders" id="accordion" role="tablist">
        <div class="card" *ngFor="let leader of leaders">
          <div class="card-header" role="tab" id="dannyhead">
            <h3 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{leader.abbr}}" aria-expanded="true" aria-controls="collapseOne">
                {{leader.name}} <small>{{leader.designation}}</small>                                </a>
            </h3>
          </div>

          <div id="{{leader.abbr}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p class="hidden-xs-down">{{leader.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
