<div *ngIf="dishes" class="container">
  <div class="row" style="margin-top: 5%;">
    <div *ngFor="let dish of dishes" class="col-md-6" [routerLink]="['/dishdetail', dish.id]" appHighlight>

      <img src="{{baseURL+dish.image}}" alt="test" [ngClass]="{'dishImageSelected': (selectedDish==dish)}" class="img-responsive dishImage">

      <div class="carousel-caption">
        <h1>{{dish.name }}</h1>
      </div>

    </div>
  </div>
</div>
<app-spinner *ngIf="!dishes && !errorMsg"></app-spinner>
<div *ngIf="errorMsg" class="container">
  <h3>An Error Occurred</h3>
  <p>{{errorMsg}}</p>
</div>
<hr>
<!--<app-dishdetail [dish]="selectedDish"></app-dishdetail>-->
