/* You can add global styles to this file, and also import other style files */
.highlight { transition: all .2s ease-in-out; z-index: 1; }
.highlight:hover { transform: scale(1.1); z-index: 1; cursor: pointer; }
