<div class="container">
  <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="col-md-6">
      <div *ngIf="dish" class="card">
        <img style="height: 300px;" class="card-img-top" src="{{dish.image}}" alt="Card image cap">
        <div style="min-height: 200px;" class="card-block">
          <h4 class="card-title">{{dish.name}}</h4>
          <p class="card-text">{{dish.description}}</p>
        </div>
      </div>
      <app-spinner *ngIf="!dish"></app-spinner>
    </div>
    <div class="col-md-6">
      <div *ngIf="promotion" class="card">
        <img style="height: 300px;" class="card-img-top" src="{{promotion.image}}" alt="Card image cap">
        <div style="min-height: 200px;" class="card-block">
          <h4 class="card-title">{{promotion.name}}</h4>
          <p class="card-text">{{promotion.description}}</p>
        </div>
      </div>
      <app-spinner *ngIf="!promotion"></app-spinner>
    </div>
  </div>
</div>
